body{
    margin: 0;
    padding: 0;
}

.slider-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 50px auto;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.certificate {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: white;
}

.certificate img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
}

#slide-left {
    left: 10px;
}

#slide-right {
    right: 10px;
}
